<div class="container"><h1></h1></div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Pikachu</mat-card-title>
          <mat-card-subtitle
            >1 hour ago
            <img
              src="../../assets/icon/icPublicPpost@3x.png"
              width="30%"
              height="30%"
            />
          </mat-card-subtitle>
        </mat-card-header>

        <!--carousel-->
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <div style="position:relative; z-index:auto;">
                <img src="../../assets/icon/icTagged@3x.png" 
                style="position:absolute; z-index:2; left: 800px; top: 600px;">
            </div>
            <div style="position:relative; z-index:auto;">
                <img src="../../assets/img/photo-1522771739844-6a9f6d5f14af.jpeg" style="position:relative; z-index:1;">
            </div>
              <!-- <img
                src="../../assets/img/photo-1522771739844-6a9f6d5f14af.jpeg"
                alt="Random first slide"
              /> -->
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../assets/img/photo-1513694203232-719a280e022f.jpeg"
                alt="Random second slide"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../assets/img/Home-Decoration.jpg"
                alt="Random third slide"
              />
            </div>
          </ng-template>
        </ngb-carousel>

        <!--color ball-->
        <mat-card-actions>
          <button mat-button>
            <div style="position:relative; z-index: auto;">
              <img src="../../assets/icon/icVishionHomeUnselected@3x.png" 
              style="position:absolute; z-index:2; right: 15px; top: 15px;" class="color-ball-primary"
              width="50" height="50">
          </div>
          <div style="position:relative; z-index: auto;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTppabOkcTgE-xGNQbtj9R7kyMujZyENnEozqekmU71rhnJnOn-" 
              style="position:relative; z-index:1;" class="color-ball-primary"
              width="80" height="80">
          </div>
            <!-- <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTppabOkcTgE-xGNQbtj9R7kyMujZyENnEozqekmU71rhnJnOn-"
              width="80"
              height="80"
              class="color-ball-primary"
            /> -->
          </button>

          <button mat-button>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQs4wr1jE2A065n-5WgHYYtH2p8Q9J3XphP8Ek0gnqDdUy2gF-k"
              width="80"
              height="80"
              class="color-ball"
            />
          </button>

          <button mat-button>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT1zZXr_W6Zhq9IdRqcTLDeiUw3SUUoDKxBdYD5JljzmowSzggM"
              width="80"
              height="80"
              class="color-ball"
            />
          </button>

          <button mat-button>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTlBp1OCK8--uw-G80L_2IWvTKr3jzDbXmx3dbWtFQQ77FXJTYg"
              width="80"
              height="80"
              class="color-ball"
            />
          </button>

          <button mat-button>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQy0-cfDbPAMCdTjOuOjW4rl5t4yDq4hHmKgayV23M_P2QaxK3S"
              width="80"
              height="80"
              class="color-ball"
            />
          </button>
        </mat-card-actions>

        <!--like & share button-->
        <mat-card-actions>
          <button mat-button>
            LIKE<img src="../../assets/icon/icLikePostUnselected@3x.png" />
          </button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-content>
          <p>
            Today we would like to share with you our working process, that is,
            to tell us how harmonization take place and what stage each our
            objects passes before implemntation
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
