.example-card {
  max-width: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.color-ball-primary{
  border-radius: 50%;
}
.color-ball{
  border-radius: 50%;
}