<div class="row content main-body">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4">
        <div mat-card-avatar class="example-header-image"></div>
      </div>
      <div class="col-sm-8">
        <div>
          <h2>Pikachu
            <span>
              <img src="../../assets/icon/icVerifiedUser@3x.png"
                class="img-circle" height="25" width="25" alt="verified"/>
              <a href="https://apps.apple.com/us/app/vishion/id1444176806?ls=1" 
              class="btn btn-primary btn-lg link-button" role="button" aria-disabled="true">
              Check on the Vishion APP</a>
              </span>
          </h2>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4"><h4>123 Posts</h4></div>
          <div class="col-sm-4"><h4>1.4K Followers</h4></div>
          <div class="col-sm-4"><h4>2.8K Following</h4></div>
        </div>
        <div>
          <br />
          <h3>About</h3>
          <h4>
            <img
              src="../../assets/icon/icUserLocation@3x.png"
              class="img-circle"
              height="25"
              width="25"
              alt="location"
            />
            <span> 337 Walnut Hill Ln</span>
          </h4>
          <h4>
            <img
              src="../../assets/icon/icUserWebsite@3x.png"
              class="img-circle"
              height="25"
              width="25"
              alt="website"
            />
            <span
              ><a href="https://www.duibin.senate.gov/"
                > https://www.duibin.senate.gov/</a
              ></span
            >
          </h4>
          <h4>
            Today we would like to share with you our working process, that is,
            to tell us how harmonization take place and what stage each our
            objects passes before implemntation
          </h4>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
      <div class="col-sm-4">
        <app-my-account-board></app-my-account-board>
      </div>
      <div class="col-sm-4">
        <app-my-account-board></app-my-account-board>
      </div>
      <div class="col-sm-4">
        <app-my-account-board></app-my-account-board>
      </div>
    </div>
  </div>

  <div class="col-sm-2"></div>
</div>
