<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Pikachu</mat-card-title>
    <mat-card-subtitle>1 hour agp</mat-card-subtitle>
  </mat-card-header>

  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="../../assets/img/photo-1522771739844-6a9f6d5f14af.jpeg"
          alt="Random first slide"
          height="200"
          width="200"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="../../assets/img/photo-1513694203232-719a280e022f.jpeg"
          alt="Random second slide"
          height="200" width="200"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          src="../../assets/img/Home-Decoration.jpg"
          alt="Random third slide"
          height="200" width="200"
        />
      </div>
    </ng-template>
  </ngb-carousel>

  <mat-card-content>
    <p>
        Today we would like to share with you our working process, 
        that is, to tell us how harmonization take place and what 
        stage each our objects passes before implemntation
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
