<mat-toolbar class="mat-elevation-z6">
  <a href="#" routerLink="home">
    <img
      src="../../assets/logo/icVishionLogo@3x.png"
      alt="logo"
      height="30%"
      width="30%"
  /></a>

  <div class="spacer"></div>

  <a mat-button routerLink="my-account">My Account</a>

  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</mat-toolbar>
